# duplicate this file as .env and replace the value with your appID from embrace.io
VITE_APP_ID=
VITE_DATA_URL=http://localhost:3001 # leave empty for production
VITE_CONFIG_URL=http://localhost:3001 # leave empty for production
