# duplicate this file as .env and replace the value with your appID from embrace.io
VITE_APP_ID=your_app_id
VITE_DATA_URL='https://data.yourdomain.com' # leave empty for production
VITE_CONFIG_URL='https://config.yourdomain.com' # leave empty for production
